<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112920942-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-112920942-2/**/');
</script>

<div class="col-md-3 automatch" style="background-color:#ebf3f8;height:6500px;padding:0px;margin-top:-2em;">
		<span style="display: block;background-color: #53ea7a;font-weight: bold;font-size: 18px;padding: 15px 25px;
    margin-top: 3em;">QUICK NAV</span>
    <a href="#ADGAPI" style="display: block;font-size: 18px;padding: 15px 25px;border-bottom:2px solid #fff;">ADG
        API</a>
    <a href="#EndpointSummary" style="display: block;font-size: 18px;padding: 15px 25px;border-bottom:2px solid #fff;">Endpoint
        Summary</a>
    <a href="#Endpoints"
       style="display: block;font-size: 18px;padding: 15px 25px 10px 25px;border-bottom:2px solid #fff;">Endpoints</a>
    <a href="#DomainMapper" style="display: block;font-size: 18px;padding: 10px 45px;">> Domain Mapper </a>
    <a href="#MerchantMapper" style="display: block;font-size: 18px;padding: 10px 45px;">> Merchant Mapper </a>
    <a href="#PIIChecker" style="display: block;font-size: 18px;padding: 10px 45px;border-bottom:2px solid #fff;">> PII
        Checker</a>
    <a href="#PlansRateLimits" style="display: block;font-size: 18px;padding: 15px 25px;border-bottom:2px solid #fff;">Plans
        / Rate Limits</a>
    <a href="#StatusCodes" style="display: block;font-size: 18px;padding: 15px 25px;border-bottom:2px solid #fff;">Status
        Codes</a>
</div>
<div id="mainDoc" class="col-md-9">
    <h2 style="margin-top:35px;">ADG API Reference</h2>
    <p>
        The <strong>Alternative Data Group API</strong> is a web service that provides structured company information
        from
        unstructured merchant transaction data or domain names reliably.
    </p>
    <p>
        Our <strong>merchant mapper</strong> takes text from transactional purchase data and also produces structured
        company
        and trading-related information.
    </p>
    <p>
        The <strong>domain mapper</strong> converts domain names (URLs) to structured company and trading-related
        information.
    </p>
    <p style="margin-top:20px;">
        This article explains how to use the API, and shows request/response examples using the `curl` command-line
        tool. But
        first...
    </p>
    <p>&nbsp;</p>
    <div style="border:10px solid #1986c9;padding:20px;">
        <h2 style="margin:0px;">Try the live API now</h2>
        <p style="margin-bottom:20px;">(No sign up required)</p>
        <p>Click on <strong>/merchant-mapper</strong> below to show the interactive panel. </p>
        <p>Scroll the page to the <strong style="color:#1986c9;">Parameters</strong> section. </p>
        <p>The <strong>X_user_key</strong> param should be <span
                style="color:#f35c53">f816b9125492069f7f2e3b1cc60659f0</span>. (No change needed) </p>
        <p>Paste the example text below into the <strong>QUERY</strong> window, or click on the yellow box underneath
            “Model Schema” to the right of it. </p>
        <p>Make sure that your query is surrounded by <span style="color:#f35c53">["</span> and <span
                style="color:#f35c53">"]</span>.</p>
        <p>Example: <span style="color:#f35c53">["THE HOME DEPOT 12/29 #000725801 PURCHASE"]</span></p>
        <p><strong>Click the Try it out!</strong> button and scroll down to see the results in the <strong
                style="color:#1986c9;">Response Body</strong> section. </p>
        <p>You can click on <strong>/merchant-mapper</strong> again to hide its interactive panel.</p>
        <p>Feel free to try <strong>/domain-mapper</strong> in the same way.</p>
    </div>
    <hr>
    {% active_docs version: "2.0" services: "api-embedded" %}
    <script type="text/javascript">
        $(function () {
            // window.swaggerUi.options['url'] = "http://adg-api.us-east-1.elasticbeanstalk.com/static/3scale.json";
            window.swaggerUi.options['validatorUrl'] = null;
            window.swaggerUi.load();
            $('#message-bar').remove()
        });
    </script>

    <p>Another interesting <strong>QUERY</strong> for <strong>/merchant-mapper</strong> would be: </p>
    <p><span class="redBgAndFont">["WALMART.COM 8009666546 BENTONVILLE AR", "TACO BELL 001500153817 CHARLESTON WV", "Purchase #xx255xx WORLDGATE 9 THEATRES HERNDON VA"]</span>
    </p>
    <p>(Notice that’s a JSON list with 3 strings; The entire list can be sent as a single request.)</p>
    <p><strong>NOTE:</strong> In production, you would <a href="{{ urls.signup }}" class="blueLink">sign up</a> in this
        developer portal to get your own user key.</p>

    {% comment %}
    See the full <a href="/swagger-ui" target="_blank">Live API Spec</a> (Swagger UI) or continue reading for more
    information
    {% endcomment %}
    <hr>

    <h2 id="EndpointSummary">ENDPOINT SUMMARY</h2>
    The ADG API has three endpoints identified by the HTTP methods they accept, and their paths within the API’s URL:
    <table style="margin:20px 0;" border=1 cellpadding=8>
        <thead>
        <tr>
            <th>Method</th>
            <th style="width: 170px;">Path</th>
            <th>Purpose</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>GET</td>
            <td style="font-weight:bold;">/health</td>
            <td>API health check that returns an "OK" message. This is helpful to check that you’re able to authenticate
                with
                our web service.
            </td>
        </tr>
        <tr>
            <td>POST</td>
            <td style="font-weight:bold;">/domain-mapper</td>
            <td>Maps domain names from given text to structured company information. <a href="#domain-mapper"
                                                                                        style="color:#1986c9;text-decoration: underline;">More
                details.</a></td>
        </tr>
        <tr>
            <td>POST</td>
            <td style="font-weight:bold;">/merchant-mapper</td>
            <td>Maps strings from transactional purchase text (e.g. credit card transactions) to structured company
                information. <a href="#merchant-mapper" style="color:#1986c9;text-decoration: underline;">More
                    details.</a>
            </td>
        </tr>
        <tr>
            <td>POST</td>
            <td style="font-weight:bold;">/pii-ident</td>
            <td>Checks whether a given text has personal identifiable information (PII). <a href="#pii-ident"
                                                                                            style="color:#1986c9;text-decoration: underline;">More
                details.</a></td>
        </tr>
        </tbody>
    </table>
    <h4>Schema</h4>
    <ul>
        <li>All API access is over HTTPS.</li>
        <li>The API can be accessed securely at <span class="redBgAndFont">https://api-2445582026130.production.gw.apicast.io/</span>
        </li>
        <li>All I/O (request or response body data) is in JSON format.</li>
    </ul>
    <h4>Authentication</h4>
    The API uses basic HTTP authentication via the <span class="redBgAndFont">X_user_key</span> URL query param. This
    user key is a token string provided
    after sign up and log in in this developer portal. <br>
    Once you have signed up, and set up your organization, any users you invite can use a shared key, visible <a
        href="{{ urls.applications }}" style="color:#1986c9;text-decoration: underline;">API
    credentials</a> section of the portal, to query our API within the limits of your org’s plan.
    <h4>For example:</h4>
    <span class="border">$ curl "https://api-2445582026130.production.gw.apicast.io/health?X_user_key=f816b9125492069f7f2e3b1cc60659f0"</span>
    Replace <span class="redBgAndFont">f816b9125492069f7f2e3b1cc60659f0</span> for your own user key.

    <hr>

    <h2 id="Endpoints">ENDPOINTS</h2>
    <h3 id="DomainMapper">1 – Domain Mapper</h3>
    Using this endpoint you can map a list of website addresses (containing domain names) to structured company
    information, such as: company name, financial ticker, related entities, etc.
    <h4>Endpoint</h4>
    <span class="redBgAndFont">https://api-2445582026130.production.gw.apicast.io/domain-mapper</span>
    <h4>Query parameters</h4>
    <ul>
        <li><span class="redBgAndFont">X_user_key:</span> The authentication key you receive when you sign up for the
            ADG API
        </li>
    </ul>
    <h4>Request <br> <br> POST data</h4>
    The POST body should contain a JSON array of domain names in the following format:
    '["google.com", "www.amazon.com", "https://www.walmart.com/account/login", "etc"]'
    <h4>Limitations</h4>
    <ul>
        <li>Up to 25 query strings are accepted per request.</li>
        <li>Each domain name string can be up to 127 characters in length.</li>
    </ul>
    <h4>Response </h4>
    Response The response will have a <strong style="color:#1986c9;">200 OK</strong> status and its body will contain an
    object with the results for each domain name (queries) in the same order as they were received. These results
    include as much information about the mapped merchant as possible.

    <table style="margin:20px 0;" border=1 cellpadding=8>
        <thead>
        <tr>
            <th style="width:150px;">Key</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Original Input</td>
            <td><span class="redBgAndFont">string</span></td>
            <td>Input query ran through our process</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td>
                <span class="redBgAndFont">string</span>
            </td>
            <td>The merchant’s most commonly used name; "The Company". Or "No Match / Small Business" if no match was
                achieved by /merchant-mapper; * "Domain Unreachable" in the case of /domain-mapper
            </td>
        </tr>
        <tr>
            <td>Aliases</td>
            <td>
                <span class="redBgAndFont">string</span>
            </td>
            <td>Other names used to refer to the company</td>
        </tr>
        <tr>
            <td>Confidence</td>
            <td>
                <span class="redBgAndFont">float</span></td>
            <td>The confidence score for the main match is a numeric score in the range of 0.0 - 1.55 that our process
                assigns
                to the result
            </td>
        </tr>
        <tr>
            <td>Confidence Level</td>
            <td><span class="redBgAndFont">string</span></td>
            <td>Either "low", "medium", or "high". Confidence levels are considered low below 0.41, "medium" at or above
                0.41, and "high" at or above 0.75
            </td>
        </tr>
        <tr>
            <td>Alternative Company Matches</td>
            <td><span class="redBgAndFont">string array</span></td>
            <td>Any other company names that are also likely to be correct answers</td>
        </tr>
        <tr>
            <td>Related Entities</td>
            <td>
                <span class="redBgAndFont">object array</span>
            </td>
            <td>
                Any other companies that have a legal relationship with the company in key-value pairs with the
                following format:
                <ul>
                    <li>Name Related company name</li>
                    <li>Closeness Score The entities are ordered by this value, the higher it is, the more confident we
                        are
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Ticker</td>
            <td><span class="redBgAndFont">string</span></td>
            <td>Exchange ticker, if the company is publicly traded</td>
        </tr>
        <tr>
            <td>Exchange</td>
            <td><span class="redBgAndFont">string</span></td>
            <td>Primary exchange where the company’s stock is traded, if public</td>
        </tr>
        <tr>
            <td>Ticker Company Name</td>
            <td><span class="redBgAndFont">string</span></td>
            <td>Name of the company used in the exchange, if public</td>
        </tr>
        </tbody>
    </table>

    <h4>Other possible responses</h4>
    <ul>
        <li>
            <strong style="color:#1986c9;">401 Unauthorized</strong> - Authentication Error: The X_user_key query param
            contains an invalid value.
        </li>
        <li>
            <strong style="color:#1986c9;">403 Forbidden</strong> - Authentication Missing: The request doesn’t include
            a X_user_key query param.
        </li>
        <li>
            <strong style="color:#1986c9;">405 METHOD NOT ALLOWED</strong> - This happens when the HTTP method is not
            POST
        </li>
        <li>
            <strong style="color:#1986c9;">422 UNPROCESSABLE ENTITY</strong> - Validation error: There was a problem
            with the data submitted in the request. A detailed
            message of the problem will be included with the response.
        </li>
    </ul>
    <h4>Example</h4>
    Results for domain name aloftnewyorkbrooklyn.com:
    <p>&nbsp;</p>
    <span class="border">
		$ curl -X POST
		"https://api-2445582026130.production.gw.apicast.io/domain-mapper?X_user_key=f816b9125492069f7f2e3b1cc60659f0"
		-d'["aloftnewyorkbrooklyn.com"]'
	</span>
    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
            style="margin: 0; line-height: 125%">[
  {
    <span style="color: #007700">&quot;Original Input&quot;</span>: <span style="background-color: #fff0f0">&quot;aloftnewyorkbrooklyn.com&quot;</span>,
    <span style="color: #007700">&quot;Company Name&quot;</span>: <span style="background-color: #fff0f0">&quot;Marriott International&quot;</span>,
    <span style="color: #007700">&quot;Aliases&quot;</span>: [
      <span style="background-color: #fff0f0">&quot;marriott&quot;</span>,
      <span style="background-color: #fff0f0">&quot;Marriott Hotels &amp; Resorts&quot;</span>
      <span style="background-color: #fff0f0">&quot;Marriott International Inc&quot;</span>
      <span style="background-color: #fff0f0">&quot;Marriott Internationals, Inc.&quot;</span>
    ],
    <span style="color: #007700">&quot;Confidence&quot;</span>: <span style="color: #6600EE; font-weight: bold">1</span>,
    <span style="color: #007700">&quot;Confidence Level&quot;</span>: <span style="background-color: #fff0f0">&quot;High&quot;</span>,
    <span style="color: #007700">&quot;Alternative Company Matches&quot;</span>: [],
    <span style="color: #007700">&quot;Related Entities&quot;</span>: [
      {
        <span style="color: #007700">&quot;Name&quot;</span>: <span style="background-color: #fff0f0">&quot;Residence Inn by Marriott&quot;</span>,
        <span style="color: #007700">&quot;Closeness Score&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">3.55</span>
      },
      {
        <span style="color: #007700">&quot;Name&quot;</span>: <span style="background-color: #fff0f0">&quot;Courtyard&quot;</span>,
        <span style="color: #007700">&quot;Closeness Score&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">3.3</span>
      },
      {
        <span style="color: #007700">&quot;Name&quot;</span>: <span style="background-color: #fff0f0">&quot;Starwood&quot;</span>,
        <span style="color: #007700">&quot;Closeness Score&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">3.18</span>
      },
      ...
    ],
    <span style="color: #007700">&quot;Ticker&quot;</span>: <span
                style="background-color: #fff0f0">&quot;MAR&quot;</span>,
    <span style="color: #007700">&quot;Exchange&quot;</span>: <span
                style="background-color: #fff0f0">&quot;NASDAQ&quot;</span>
    <span style="color: #007700">&quot;Ticker Company Name&quot;</span>: <span style="background-color: #fff0f0">&quot;MARRIOTT INTERNATIONAL&quot;</span>
  }
]
</pre>
    </div>

    {% comment %}
    > You may try this and any endpoint in our API from the [Live API Spec](/swagger-ui).
    {% endcomment %}

    <h3 style="margin-top:30px;" id="MerchantMapper">2 – Merchant Mapper</h3>
    Using this endpoint you can map a list of raw text (e.g. anonymized credit card transactions, online purchasing
    data,
    or email receipts) to structured company information, such as: company name, exchange ticker, related entities, etc.
    <h4>Endpoint</h4>
    <span class="redBgAndFont">https://api-2445582026130.production.gw.apicast.io/merchant-mapper</span>
    <h4>Query parameters</h4>
    <ul>
        <li><span class="redBgAndFont">X_user_key:</span> The authentication key you receive when you sign up for the
            ADG API
        </li>
    </ul>
    <h4>Request <br> <br> POST data</h4>
    The POST body should contain a JSON array of raw text in the following format: <br>
    '["Google playstore purchase", "AMZN MARKETPLACE", "Discounted value brand from Wal*Mart", "etc"]'
    <h4>Limitations</h4>
    <ul>
        <li>Up to 25 query strings are accepted per request.</li>
        <li>Each input string can be up to 127 characters in length.</li>
    </ul>
    <h4>Response </h4>
    Given a correctly authenticated and formatted POST request, the response will have a <strong style="color:#1986c9;">200
    OK</strong> status and its body will
    contain a JSON structure with the results for each input raw text (queries) in the same order as they were received.
    These results include as much information about the mapped merchant as possible.<br>
    Same <strong style="color:#1986c9;">format</strong> and <strong style="color:#1986c9;">possible responses</strong>
    as Domain Mapper

    <h3 style="margin-top:30px;">Example</h3>
    Results for the transaction text Purchase <span
        class="redBgAndFont">#xx255xx WORLDGATE 9 THEATRES HERNDON VA : </span>
    <p>&nbsp;</p>
    <span class="border">
		$ curl -X POST "https://api-2445582026130.production.gw.apicast.io/merchant-mapper?X_user_key=f816b9125492069f7f2e3b1cc60659f0" -d'["#xx255xx WORLDGATE 9 THEATRES HERNDON VA"]'
	</span>
    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
            style="margin: 0; line-height: 125%">[
  {
    <span style="color: #007700">&quot;Original Input&quot;</span>: <span style="background-color: #fff0f0">&quot;Purchase #xx255xx WORLDGATE 9 THEATRES  HERNDON    VA&quot;</span>,
    <span style="color: #007700">&quot;Company Name&quot;</span>: <span style="background-color: #fff0f0">&quot;AMC&quot;</span>,
    <span style="color: #007700">&quot;Aliases&quot;</span>: [
      <span style="background-color: #fff0f0">&quot;AMC Entertainment Holdings Inc&quot;</span>,
    ],
    <span style="color: #007700">&quot;Confidence&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">0.84</span>,
    <span style="color: #007700">&quot;Confidence Level&quot;</span>: <span style="background-color: #fff0f0">&quot;High&quot;</span>,
    <span style="color: #007700">&quot;Alternative Company Matches&quot;</span>: [],
    <span style="color: #007700">&quot;Related Entities&quot;</span>: [
      {
        <span style="color: #007700">&quot;Name&quot;</span>: <span style="background-color: #fff0f0">&quot;AMC Theatres&quot;</span>,
        <span style="color: #007700">&quot;Closeness Score&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">3.55</span>
      },
      {
        <span style="color: #007700">&quot;Name&quot;</span>: <span style="background-color: #fff0f0">&quot;Carmike Cinemas&quot;</span>,
        <span style="color: #007700">&quot;Closeness Score&quot;</span>: <span
                style="color: #6600EE; font-weight: bold">3.0</span>
      },
      ...
    ],
    <span style="color: #007700">&quot;Ticker&quot;</span>: <span
                style="background-color: #fff0f0">&quot;AMC&quot;</span>,
    <span style="color: #007700">&quot;Exchange&quot;</span>: <span
                style="background-color: #fff0f0">&quot;NYSE&quot;</span>
    <span style="color: #007700">&quot;Ticker Company Name&quot;</span>: <span style="background-color: #fff0f0">&quot;AMC ENTERTAINMENT HLDS&quot;</span>
  }
]
</pre>
    </div>

    {% comment %}
    > You may try this and any endpoint in our API from the [Live API Spec](/swagger-ui).
    {% endcomment %}

    <h3 style="margin-top:30px;" id="PIIChecker">3 – PII Checker</h3>
    Using this endpoint you can check a list of text to see whether any one contains personal identifiable information
    (PII). We conform to the Investment Data Standards Organization (IDSO) standards.
    <h4>Endpoint</h4>
    <span class="redBgAndFont">https://api-2445582026130.production.gw.apicast.io/pii-ident</span>
    <h4>Query parameters</h4>
    <ul>
        <li><span class="redBgAndFont">X_user_key:</span> The authentication key you receive when you sign up for the
            ADG API
        </li>
    </ul>
    <h4>Request <br> <br> POST data</h4>
    The POST body should contain a JSON array of texts in the following format: <br>
    '["Purchase *SQ Uber <strong style="color:#1986c9;text-decoration: underline;">johndoe@gmail.com</strong> San
    Francisco, CA", "TRANSFER SENT TO +13475887943", "etc"]' <br>
    See also the <span class="redBgAndFont">curl</span> statement under the example below.
    <h4>Limitations</h4>
    <ul>
        <li>Up to 25 query strings are accepted per request.</li>
        <li>Each input string can be up to 127 characters in length.</li>
    </ul>
    <h4>Response </h4>
    Given a correctly authenticated and formatted POST request, the response will have a <strong style="color:#1986c9;">200
    OK</strong> status and its body will
    contain a simlpe JSON structure with the result of checking for PII in the given text. <br>
    Same <strong style="color:#1986c9;">possible responses</strong> as Domain and Merchant Mapper methods.

    <h4>Example</h4>

    Results for the text <span class="redBgAndFont">Purchase *SQ Uber johndoe@gmail.com San Francisco, CA : </span>
    <p>&nbsp;</p>
    <span class="border">
		$ curl -X POST "https://api-2445582026130.production.gw.apicast.io/pii-ident?X_user_key=f816b9125492069f7f2e3b1cc60659f0" -d'["Purchase *SQ Uber johndoe@gmail.com San Francisco, CA"]'
  </span>

    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre
            style="margin: 0; line-height: 125%">[
  {
    <span style="color: #007700">&quot;Original Input&quot;</span>: <span style="background-color: #fff0f0">&quot;Purchase *SQ Uber johndoe@gmail.com San Francisco, CA&quot;</span>,
    <span style="color: #007700">&quot;PII Detected&quot;</span>: <span style="background-color: #fff0f0">true</span>
  }
]</pre>
    </div>

    {% comment %}
    > You may try this and any endpoint in our API from the [Live API Spec](/swagger-ui).
    {% endcomment %}

    <hr>
    <h2 id="PlansRateLimits">ACCOUNT PLANS / API RATE LIMITS</h2>
    <p>
        You may request a plan upgrade from the <a href="{{ urls.applications }}"
                                                   style="color:#1986c9;text-decoration: underline;">Applications</a>
        page. Contact an ADG representative for more information about
        plan options and pricing.
    </p>
    <hr>

    <h2 id="StatusCodes">STATUS CODES</h2>
    We use the following standard HTTP status code groups:
    <ul>
        <li>
            <strong style="color:green">2XX</strong> - Success
        </li>
        <li>
            <strong style="color:orange">4XX</strong> - Error originated in the client side (the user’s request)
        </li>
        <li>
            <strong style="color:red">5XX</strong> - Error occurred in the server side (internal to the API)
        </li>
    </ul>
</div>